<!DOCTYPE html>
<html>
  <head>
    <title>ReduxRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'chat_app' %>

  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
